/FalloutCompletionTask_automatedtask_osmcentralomexample-orchestration_automation.xml
/configureCollectionsTask_automatedtask_osmcentralomexample-orchestration_automation.xml
/configureCustomerSystemTask_automatedtask_osmcentralomexample-orchestration_automation.xml
/configureMarketingTask_automatedtask_osmcentralomexample-orchestration_automation.xml
